body {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
}

.back-page {
    background: url("../img/background_3.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.sobre-mim {
    /*background-color: rgba(179, 179, 179, 0.8);*/
    background-color: rgba(169, 169, 169, 0.8);
    border-radius: 8px;
    max-width: 600px;
    padding: 10px;
}

.texto-bloco {
    font-size: 16px;
}

h1 {
    font-weight: bold;
}

a {
    color: white;
    margin-left: 8px; 
}

.container-main {
    max-width: 1585px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.painel-canto {
    color: #acacac;
    background-color: #222;
    /*display: block;*/
}

.clearBoth {
    clear: both;
}

.bloco {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.redes-sociais {
    margin-top: 25px;
    display: inline-block;
    padding-bottom: 20px;
}

.footer-landpage {
    background-color: rgb(100, 100, 100, 0.8);
    color: white;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    position: fixed;
}